.v-plugin.v-seating_chart > iframe {
  transition: opacity 250ms ease-out;
}

.v-plugin.v-seating_chart[disabled] {
  cursor: not-allowed;
  user-selection: none;
  pointer-events: none;
}

.v-plugin.v-seating_chart[disabled] > iframe {
  opacity: 0.50 !important;
}
